name: Build Windows App

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch: # Cho phép bấm nút chạy thủ công

jobs:
  build:
    name: Build on Windows
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          target: x86_64-pc-windows-msvc
          
      - name: Build Project
        working-directory: ./platforms/windows
        run: cargo build --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Gonhanh-Windows-Build
          path: ./platforms/windows/target/release/*.exe
          if-no-files-found: error
